@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}



html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #121212;

    display: flex;
    flex-direction: column;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    opacity: 25%;
    background: linear-gradient(to bottom, #8C6100 0%, black 20%);
}

header {
    /* background-color: aqua; */
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

header img {
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
}

.main-content {
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    z-index: 1;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reports {
    /* background-color: blue; */
    width: 80%;
    height: 100%;
}

.reports-header {
    /* background-color: blueviolet; */
    height: 10%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reports-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1%;
}

.reports-new h5 {
    font-family: 'SF Pro Display';
    font-size: 35px;
    color: white;
}

.reports-new h5 {
    margin: 0;
}

.reports-new button {
    cursor: pointer;
    height: 75%;
    width: 13%;
    border-radius: 12px;
    border: 0;
    background-color: #FFD500;
    font-family: 'SF Pro Display Bold';
    font-weight: bolder;
}


.white-line {
    height: 1px;
    background-color: white;
    width: 100%;
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #FAB400;
    margin: 10% auto;
    padding: 20px;
    width: 20%;
    border-radius: 10px;
    position: relative;
}

.modal-content label {
    font-family: 'SF Pro Display';
}

.modal-content input {
    width: 90%;
    height: 40px;
    border-radius: 12px;
    font-size: 14px;
    border: 0;
}

.modal-content select {
    width: 40%;
    height: 40px;
    border: 0;
    border-radius: 12px;
    font-family: 'SF Pro Display';
    font-size: 14px;
}

.modal-content button {
    border: 0;
    border-radius: 10px;
    width: 40%;
    height: 45px;
    display: block;
    margin: 20px auto 0 auto;
    font-family: 'SF Pro Display Bold';
    background-color: #000000;
    color: white;
}

#newTagInput {
    width: 50%;
}


.close {
    color: #000000;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

.tag-section {
    margin-bottom: 30px;
}

.tag-section h3 {
    color: white;
    font-family: 'SF Pro Display';
    background-color: #565656;
    padding: 8px;
    border-radius: 10px;
    width: fit-content;
}

.live-scroll {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 10px 0;

    scrollbar-width: none;
}

.live-scroll:hover {
    scrollbar-width: thin;
    scrollbar-color: #363636 #121212;
}

.live-scroll::-webkit-scrollbar {
    height: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.live-scroll:hover::-webkit-scrollbar {
    opacity: 1;
}

.live-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.live-scroll::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 10px;
    border: 2px solid #121212;
}


.live-card:hover {
    transform: scale(1.04);
}

.live-card {
    border-radius: 16px;
    min-width: 320px;
    max-width: 340px;
    padding: 16px;
    flex: 0 0 auto;
    color: white;
    font-family: 'SF Pro Display';
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.live-thumbnail {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.live-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.live-title {
    font-weight: bold;
    font-size: 18px;
    color: white;
    flex: 1;
    margin-right: 10px;
}

.live-actions {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: flex-end;
}


.live-actions button {
    background: none;
    border: none;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;

}

.live-actions button:hover {
    background-color: rgba(250, 180, 0, 0.1);
    color: #ffcb00;
}

.live-actions svg {
    width: 22px;
    height: 22px;
}

.live-date {
    font-size: 14px;
    color: #ccc;
    text-align: left;
}